<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bapp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.347111752310-tkh0280494mrj413rpvuu9ifnvb2976o</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.347111752310-tkh0280494mrj413rpvuu9ifnvb2976o</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This will help the users to find playlists based on themes</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This will help the users to add theior travel dates to their calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires this to be allowed to capture photos and share them within the app</string>
	<key>NSContactsUsageDescription</key>
	<string>This will help the users to find their friends on the app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Enabling location access will hep you to find streetfood joints based on your current location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Enabling location access will hep you to find streetfood joints based on your current location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Can I use the mic please?</string>
	<key>NSMotionUsageDescription</key>
	<string>This will help the users to check - out by waving with their phone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To view and share photos and videos with the community.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This will help to translate speech</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.bigmints.bapp</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
