<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784979675891-d4nq40oi9b8bpt12itp3f8bh6oul51l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784979675891-d4nq40oi9b8bpt12itp3f8bh6oul51l4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>784979675891-np3oa852okv2tkc09hkecjfcq4uggffk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiaZXBoN3uMkpmPDauzhI2g7DyuP-27Lg</string>
	<key>GCM_SENDER_ID</key>
	<string>784979675891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigmints.bapp</string>
	<key>PROJECT_ID</key>
	<string>bapp-dev-c3849</string>
	<key>STORAGE_BUCKET</key>
	<string>bapp-dev-c3849.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784979675891:ios:20acc8bb82de251098c586</string>
	<key>DATABASE_URL</key>
	<string>https://bapp-dev-c3849.firebaseio.com</string>
</dict>
</plist>